@import '~antd/dist/antd.css';

.ant-layout-header {
  background: blue;
}

.ant-menu-dark {
  background: blue;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: blue;
  margin: 16px 24px 16px 0;
  float: left;
}

